<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <style>
        table {border: 1px solid black; border-collapse: collapse;}
        table th, table td { border: 1px solid black;}
    </style>
</head>
<body>
    <div>
        <form id="login-form">
            <fieldset>
                <legend>로그인</legend>
                <div><input id="userid" type="text", placeholder="id"></div>
                <div><input id="pwd" type="password" placeholder="password"></div>
                <button type="submit">접속</button>
                <input type="button" onclick="location.href='/members/'" value="회원가입"/>
            </fieldset>
        </form>
        <div id="messageBox">

        </div>
    </div><br>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="login.js"></script>
</body>
</html>