<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    {{luser.userid}}({{luser.name}}) 님 어서 오세요.
    <div>
        <input type ="button" onclick="location.href='/boards/writeForm'" value="글쓰기"/>
    </div><br>
    <table id="board-list" border="1" align="center">
        <thead>
            <tr>
                <th width="100">번호</th>
                <th width="400">제목</th>
                <th width="100">작성자</th>
                <th width="100">작성일</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>