<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <style>
        table {border: 1px solid black; border-collapse: collapse;}
        table th, table td { border: 1px solid black;}
    </style>
</head>
<body>
    <div>
        <form id="join-form">
            <fieldset>
                <legend>사용자 등록</legend>
                <div><input id="userid" type="text", placeholder="아이디"></div>
                <div><input id="pwd" type="password", placeholder="비밀번호"></div>
                <div><input id="name" type="text", placeholder="이름"></div>
                <div><input id="phone" type="text" placeholder="전화번호"></div>
                <div><input id="email" type="text" placeholder="이메일"></div>
                <br>
                <button type="submit">등록</button>
                <input type="button" onclick="location.href='/'" value="취소"/>
            </fieldset>
        </form>
    </div><br>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/addmember.js"></script>
</body>
</html>