<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <style>
        table {border: 1px solid black; border-collapse: collapse;}
        table th, table td { border: 1px solid black;}
    </style>
</head>
<body>
    <div>
        <form id="write-form">
            <table id = "board-list" align="center">
                <tr>
                    <th width="100">제목</th>
                    <td width="500">&nbsp;<input type="text" id="subject" size="60"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>{{luser.userid}}
                        <input type="hidden" id="userid" value="{{luser.userid}}">
                    </td>              
                </tr>
                <tr>
                    <th>내용</th>
                    <td>&nbsp;<textarea style="resize: none;" id="text" rows="6" cols="60"></textarea></td>
                </tr>
            </table>
            <center><button type="submit">등록</button></center>
            <input type="button" value="돌아가기"/>
        </form>
        <div id="messageBox">

        </div>
    </div><br>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="board.js"></script>
    <script src="boardwrite.js"></script>
</body>
</html>